html {
    margin: 0;
    padding: 0;
    }
   body { 
    color: #555753; 
    margin: 0; 
    padding: 0;
    }
   div {
       width:200px;
       height:100px;
       background-color: aqua;
       margin:auto;
   }
   p {
       font-size: 14pt;
     }    